
body{
background-image:url('pic/bg.jpg');
background-attachment: fixed;
}

.name{
    position: relative;
}

.text1{
  /*position: absolute;*/
  top:100px;
  left: 100px;
  color: black;
}

.pic1{
  width: 800px;
  margin: 0;
  padding: 0;

}
